PROBLEM SET 2

QUESTION 1

In [14]:
a = 0
def b():
 global a
 a = c(a) 
def c(a):
 return a + 2
print('b() = {}'.format(b()))
print('b() = {}'.format(b()))
print('b() = {}'.format(b()))
print('a is {}'.format(a)) 

#a is 0
#b has a local scope
#then c has a local scope and a has a global scope 
# The value of a is 6.

b() = None
b() = None
b() = None
a is 6

QUESTION 2

In [18]:
infile = open('Filelength.txt')
file1 = infile.read()
print(len(file1))

try:
        infile = open('ilelength.txt')
        file1 = infile.read()
        print(len(file1))
except:
        print('File ilelength.txt Not Found')

123
File ilelength.txt Not Found

QUESTION 3

In [93]:
class Marsupial:
    def __init__(self):
          self.pouch=[]

    def put_in_pouch(self, items):
          self.pouch.append(items)
   
    def pouch_contents(self):

        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x,y):

        Marsupial.__init__(self)

        self.x=x

        self.y=y

    def jump(self, dx, dy):

        self.x+=dx

        self.x+=dy

    def __str__(self):

        return "I am a Kanagroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

QUESTION 4

In [56]:
def collatz(n):
    print(n)
collatz(1)
def collatz(n):
    print(n)
    while n != 1:
        if n % 2 == 0:
            n = int(n /2)
        else:
            n = 3 * n + 1
        print(n)
collatz(10)

1
10
5
16
8
4
2
1

QUESTION 5

In [49]:
def binary(num):
    if num == 0:
        return '0'
    else:
        b = ''
        while num > 0:
            b = str((num % 2)) + b
            num //= 2
        return b
print (binary(0))
print (binary(1))
print (binary(2))
print (binary(9))

0
1
10
1001

QUESTION 6

In [162]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
  
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in self.headers:
                if attr[0] == 'href':
                    print(attr[1])
    def handle_data(self, data):
        print(data)
        
parser = HeadingParser()
infile = open('w3c.HTML')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

QUESTION 7

In [163]:

from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = ['http://reed.cs.depaul.edu/lperkovic/test1.html ']

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        
        return self.links
url = 'http://reed.cs.depaul.edu/lperkovic/test1.html '
content = urlopen(url).read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test1.html ',
 'http://reed.cs.depaul.edu/lperkovic/test2.html',
 'http://reed.cs.depaul.edu/lperkovic/test3.html']

QUESTION 8

In [100]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\neha\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\neha\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\neha\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\users\neha\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in c:\users\neha\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\neha\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\neha\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: pygments in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: colorama in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: matplotlib-inline in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\neha\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\neha\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\neha\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\neha\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [147]:

%reload_ext sql

In [148]:
%%sql
CREATE TABLE weather
(
city varchar(15),
country varchar(15),
season varchar(15),
temperature float,
rainfall float
);

 * sqlite://
Done.

[]

In [149]:
%%sql
INSERT INTO weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5);

 * sqlite://
10 rows affected.

[]

QUESTION 8 a)

In [151]:
%%sql
select * from weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)]

In [ ]:
QUESTION 8 b)

In [154]:
%%sql
select distinct city from weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

QUESTION 8 c)

In [155]:
%%sql
select * from weather where country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

QUESTION 8 d)

In [156]:
%%sql
select * from weather where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5)]

QUESTION 8 e)

In [157]:
%%sql
select city, country, season from weather where rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

QUESTION 8 f)

In [158]:
%%sql
select city, country from weather where season == 'Fall' and temperature > 20 order by temperature ASC;

 * sqlite://
Done.

[('Mumbai', 'India')]

QUESTION 8 g)

In [153]:
%%sql
select sum(rainfall) AS annual_rainfall from weather where city == 'Cairo';

 * sqlite://
Done.

[(23.0,)]

QUESTION 8 h)

In [159]:
%%sql
select season, sum(rainfall) AS annual_rainfall from weather group by season;

 * sqlite://
Done.

[('Fall', 564.5),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.4),
 ('Winter', 230.1)]

QUESTION 9

In [57]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

print([x.upper() for x in words])
print([x.lower() for x in words])
print([len(x) for x in words])
print([[x.upper(), x.lower(), len(x)] for x in words])
print([x for x in words if len(x)>=4])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']